<footer>	&copy; Copyright Ulysse Hellouin 2019</footer>
<style media="screen">
  footer{
    text-align: center;
    background-color: white;
    width: 100%;
    font-size: 0.8em;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 2%;
  }
</style>
