<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <!--<a class="navbar-brand" href="#">Ulysse Hellouin</a>-->
    <button class="navbar-toggler ml-auto" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/instagram" tabindex="-1" aria-disabled="true">Instagram</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/travelgram">Travelgram</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="https://www.linkedin.com/in/ulysse-hellouin-66b191161/">
          <img src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/linkedin.webp" style="width: 20px; height: 20px; object-fit: cover;">
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="https://www.instagram.com/ulysse.hellouin/">
          <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/instagram.webp" style="width: 20px; height: 20px; object-fit: cover;">
        </a>
      </li>
    </ul>
  </div>
</nav>
</body>
<style>
  .navbar-collapse {
    text-align: center;
  }
  img {
    padding-bottom: 5px;
  }
  .navbar {
    padding-top: 2.6%;
    padding-bottom: 2.3%;
    padding-right: 15%;
    background-color: white !important;
  }

  .container {
    width: 77.5%;
  }
</style>
</html>

<script src="/jquery.min.js">
</script>
<script src="/js/bootstrap.min.js">
</script>
<script type="text/javascript">
$("button").click(function(){
  $("#navbarNav").slideToggle("fast","linear");
});
</script>
