<!DOCTYPE html>
<html lang="en">

<body style="background-color:rgb(225, 239, 242)">
  <% include partials/navigation %>
  <div class="container" >
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" id="validationDefault02" placeholder="Email"  required>
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" id="validationDefault02" placeholder="Phone">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <input type="text" class="form-control" id="validationDefault03" placeholder="Address" >
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <input type="text" class="form-control" id="validationDefault04" placeholder="Subject" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <textarea rows="4" type="text" class="form-control" id="validationDefault05" placeholder="Message" required></textarea>
        </div>
      </div>

      <button class="btn btn-light" type="submit">Send</button>
    </form>
</div>

</body>
<% include partials/footer %>

<style media="screen">
  .container{
    margin-top: 40px;
  }
  input {
    padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: rgb(28, 28, 28);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-bottom: 1px solid rgba(28, 28, 28, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(28, 28, 28);
    color: #1C1C1C;
    margin: 0 0 5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    width: 100%;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    font: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  textarea {
    height: auto;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
</style>
</html>
