<!DOCTYPE html>
<html lang="en">

<body style="background-color:rgb(225, 239, 242)">
  <% include partials/navigation %>
  <div class="container" >
    <div class="row" style="background-color:#1C1C1C; color:rgb(225, 239, 242);">
      <div class="col-lg" style="padding:0">
        <img style="width: 100%; max-width:100%; padding:0; left: 0px; top: 0px  bottom: 0px" src="/images/ulysse.jpg">
      </div>
      <div class="col-lg">
        <h1 id="name">ULYSSE HELLOUIN</h1>
        <h3>Scientist | Engineer | Designer</h3>
        <p id="intro">After initially studying pharmacy, I continued my postgraduate education at Sup’Biotech, an engineering school, with a concentration in biotechnology.
           I will soon finish my academic tenure and am looking to lend my expertise to more applied projects.
           My background and versatility as a scholar make me an ideal candidate for cross-disciplinary design work.</p>
      </div>
    </div>
    <div class="row justify-content-center title">
      <h1>EDUCATION</h1>
    </div>
    <div class="row justify-content-between">
    <div class="col-lg education">
      <span class="date"> 2011 - 2016 </span>
      <h2 class="school"> PHARMACY, UNIVERSITY PARIS 5, FRANCE </h2>
      <p class="description"> I originally began my studies in medicine and pharmacy.
        There I followed a dual degree called "Pharmasciences".
        It consisted in a advanced formation oriented toward fundamental research.
        This allowed me to have a strong scientific background
      </p>
    </div>
    <div class="col-lg education" style="margin-left:15px; margin-right:15px">
      <span class="date"> 2016 - 2018 </span>
      <h2 class="school"> SUP'BIOTECH PARIS, FRANCE </h2>
      <p class="description"> I decided to continue my postgraduate education at Sup'Biotech, an engineering school,
        with a concentration in biotechnology.
        I wanted my training to be internationally oriented and targeted towards tangible projects.
      </p>
    </div>
    <div class="col-lg education">
      <span class="date"> 2018 </span>
      <h2 class="school"> FENG CHIA UNIVERSITY, TAIWAN </h2>
      <p class="description"> I chose to study Environmental Science and Design abroad at Feng Chia University in Taiwan.
         It was an eye-opening experience; the synergistic combination of hard sciences with human-centered design courses has enabled me to open my mind to new creative problem-solving possibilities.
      </p>
    </div>
  </div>
  <div class="row justify-content-center title" style="margin-top:54px;">
    <h1>EXPERIENCES</h1>
  </div>
  <div class="row experiences">
    <div class="col-3">
      <span class="date"> Sep 2018 - Dec 2018 </span>
      <h2 class="school"> COORDINATOR, FENG CHIA UNIVERSITY </h2>
    </div>
    <div class="col-9">
      <p class="description"> Night Market Research Team | I was part of a team of seven: my professor and five architecture students.
        Our mission was to propose solutions for the Feng Chia Night Market,
        one of Taichung’s main sites of commerce, which needed an increase in business following a recent reduction in area tourism.
      </p>
    </div>
  </div>
  <div class="row experiences">
    <div class="col-3">
      <span class="date"> Sep 2017 - Dec 2017 </span>
      <h2 class="school"> INTERN, INSERM UMRS 1172 </h2>
    </div>
    <div class="col-9">
      <p class="description"> Role of Oct4 in DNA Damage Response in neurons |
         I had the privilege of conducting research with the Alzheimer & Tauopathy team of the Jean Pierre Aubert Research Center (jPARC),
         UMRS 1172, INSERM in Lille, France.
          There, my aim was to investigate the link between Tau (a protein that plays a major role in Alzheimer's disease)
          and Oct4 (a transcription factor) to understand the mechanisms of the pathology through the DNA damage repair system
        </p>
    </div>
  </div>
  <div class="row experiences" style="padding-bottom:60px;">
    <div class="col-3">
      <span class="date"> Jul 2014 - Aug 2014 </span>
      <h2 class="school"> INTERN, CRYSTALLOGRAPHY LABORATORY, UMR 8015 </h2>
    </div>
    <div class="col-9">
      <p class="description"> I interned at the Laboratory of Crystallography (UMR 8015) of the Faculty of Pharmacy Paris Descartes,
         where I was tasked with analyzing interactions between a protein and ligands that we had synthesized
       </p>
    </div>
  </div>
  <div class="row justify-content-center title">
    <h1>SKILLS</h1>
  </div>

  <div class="row justify-content-between">
    <div class="col-lg skills-img" >
      <img class="img-fluid" src="/images/chemistry.jpg";>
    </div>
    <div class="col-lg skills">
      <h2 class="school"> BIO ENGINEERING </h2>
      <p class="description"> Through my academic studies and internship i had the chance to work in diverse projects,
        related to health and environmental researches.
      </p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg skills-img">
      <img class="img-fluid " src="/images/web1.png";>
    </div>
    <div class="col-lg skills">
      <h2 class="school"> DESIGN </h2>
      <p class="description"> My recent exchange semester in Taiwan was an eye-opening experience.
        I studied design thinking and i think that the synergistic combination of hard sciences with human-centered design courses has enabled me to open my mind to new creative problem-solving possibilities.
      </p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg skills-img">
      <img class="img-fluid " src="/images/group_work.jpg";>
    </div>
    <div class="col-lg skills">
      <h2 class="school"> GROUP WORK </h2>
      <p class="description"> I have devoted my spare time to extracurricular activities.
         My extensive participation and leadership in student-run organizations was crucial to my development as both a worker and an individual;
         from this, I learned a lot about professional teamwork, business relations, organizational infrastructure, and, above all, efficiency in planning and executing projects
      </p>
    </div>
  </div>
  </div>
  <div class="row justify-content-center" id="resume">
    <p>If you want to learn more about my background or experiences download my resume <a id="download" href="/images/UlysseHellouinCV.pdf" download> here</a></p> <br/>

  </div>
</body>
<% include partials/footer %>
<style media="screen">



  .side-crop {
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
  }
  #name{
    font-family: "raleway, sans-serif";
    font-size: 72px;
    font-weight: 400;
    font-style: normal;
    padding-top: 30px;
  }
  h3{
    font-size:20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  #resume{
    margin-top: 30px;
  }
  a{
    color:black;
  }
  a:hover{
    color:grey;
  }
  #intro_row{

  }
  #intro{
    font-size: 15px;
    /*padding-bottom: 26px;*/
  }
  .title{
    font-size: 40px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: white;
  }
  .education{
    margin-top: 40px;
    text-align: center;
    padding-top: 149px;
    height: 540px;
    width: 300px;
    background-color: white;
  }
  .date{
    font-size: 18px;
  }
  .school{
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .description{
    font-size: 15px;
  }
  .experiences{
    background-color: #a9bcc0;
    color: white;
    padding-top: 60px;
  }
  .skills{
    margin-top: 20px;
    text-align: center;
    height: 520px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills-img {
    margin-top: 20px;
    margin-right: 15px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .img-fluid {
    object-fit: cover;
    height: 100%;
    height: 520px;
    padding-bottom: 0;
  }




  @media only screen and (max-width: 1140px) {
    #name{
      font-size: 50px;
      padding-top: 30px;
    }
    h3{
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 30px;
    }
    #intro{
      font-size: 13px;
      /*padding-bottom: 26px;*/
    }
}

</style>

</html>
