<!DOCTYPE html>
<html lang="en">
  <body style="background-color:rgb(225, 239, 242)">
    <% include partials/navigation %>
    <div class="container">
      <div class="row title justify-content-center">
      PROJECTS
      </div>
      <div class="row justify-content-between" >
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            <a href="/projects/0">FENG CHIA NIGHT MARKET RESEARCH TEAM</a>
          </div>
          <div class="project_date">
            Sep 2018 - Dec 2018
          </div>
          <div class="project_desc">
            The Feng Chia Night Market is one of Taichung’s main sites of commerce. It has suffered from a recent reduction in area tourism as a result of increasing political tensions with mainland China. Feng Chia University created a research group to analyze the situation and propose new insights and solutions. The results of this research in the form of a printed book were presented to both the dean of the university and the head of the night market.
          </div>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            <a href="/projects/1"> MOON LAMP</a>
          </div>
          <div class="project_date">
            Nov 2018 - Dec 2018
          </div>
          <div class="project_desc">
            The final exam of the Green Design Course was the creation of a lamp using only green products.  This required a prototype, 3D model, and final execution.          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
           OCT4 & DNA DAMAGE RESPONSE IN NEURONS
          </div>
          <div class="project_date">
            Sep 2017 - Dec 2017
          </div>
          <div class="project_desc">
            The Alzheimer and Tauopathy team of the Jparc, Inserm conducts research to better understand Alzheimer’s disease. With their interns, they sought to investigate the role of Oct4, a transcription factor crucial for the maintenance and self renewal of embryonic and stem cells.
          </div>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            CONNECTED GLOVES
          </div>
          <div class="project_date">
            Sep 2016 - Oct 2016
          </div>
          <div class="project_desc">
            Total and Air Liquid hosted a contest about new insights for future work conditions in their factories.  My team chose to participate in the Safety category of the competition.  Our teacher added a condition: that our product needed to be biomimicry inspired.
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            POLAR BEAR INSULATION
          </div>
          <div class="project_date">
            Nov 2016
          </div>
          <div class="project_desc">
            An anthropology foundation contacted my school and challenged us to develop some concepts for affordable, modular, and sustainable accommodation.  They were appreciative of our use of biomimicry for the philosophical ways in which it would ameliorate the ways people interact with nature.
          </div>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            PEPTONE SEPARATION
          </div>
          <div class="project_date">
            Jan 2018 - July 2018
          </div>
          <div class="project_desc">
            Organotechnie is a company based in Paris that produces peptones (subparts of proteins) as raw material for pharmaceutical usage. Peptones are used to supply bacterial cultures. Every kind of peptone sold by Organotechnie has a specific composition.
            Organotechnie needed a new way to isolate the peptones without compromising their quality and safety.
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            PORTABLE PHOTOBOOTH
          </div>
          <div class="project_date">
            Jun 2018
          </div>
          <div class="project_desc">
            TeamTo, a French animation company, asked me to create a photobooth to use at their parties as well as their booth at professional conventions.
          </div>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="project_name">
            WINE ASSEMBLY BOTTLING EVENT
          </div>
          <div class="project_date">
            Apr 2017 - May 2017
          </div>
          <div class="project_desc">
            For my school’s yearly gala, I was asked to develop a special activity for the graduating students as a souvenir of the evening.
          </div>
        </div>
      </div>
      <div class="row justify-content-center jumbotron">
        <h2>Interested in my projects? </h2><br/>
        <a id="download" href="/images/UlysseHellouinPortfolio.pdf" download>Download my portfolio here</a>
      </div>
    </div>


  </body>
  <% include partials/footer %>

  <style media="screen">
    a{
      color:black;
      text-decoration: none;
    }
    a:hover{
      color:grey;
      text-decoration: none;
    }
    .title{
      font-size: 40px;
      text-align: center;
      margin-top: 94px;
      margin-bottom: 40px;
    }
    .col-lg-5, col-sm-12{
      background-color: rgb(240,240,240);
      text-align: center;
      margin-bottom: 52px;
    }
    .project_name{
      font-size: 30px;
      margin-top: 52px;
      margin-bottom: 52px;
    }

    .project_date{
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .project_desc{
      font-size: 15px;
      margin-top: 52px;
      margin-bottom: 52px;
    }

    .jumbotron{
      display: block;
      text-align: center;
      color:white;
      font-family: futura-lt-w01-light,sans-serif;
      background-color: #c6c6c6;
      margin-bottom: 0;
    }

    #download{
      font-size: 0.9em;
      color:white;
      text-decoration: underline;
    }
  </style>
</html>
