<!DOCTYPE html>
<html lang="en">

<body style="background-color:rgb(225, 239, 242)">
  <% include partials/navigation %>
  <div class="container" >
    <div class="row" >
      <div class="col-lg head">
        <h1 id="title"><%= project.title %></h1>
        <h4 id="date"><%= project.date %></h4>
        <p id="desc"><%= project.desc %></div>
      <div class="col-lg head">
        <img src="<%= project.min %>" style="width:100%" />
      </div>
    </div>
    <div id="projectInfo">
      <div class="row justify-content-center info">
        <div class="col-3">
          <span class="date"> Client </span>
        </div>
        <div class="col-6">
          <p class="description">
              <%= project.client %>
          </p>
        </div>
      </div>
      <div class="row justify-content-center info">
        <div class="col-3">
          <span class="date"> Project Type </span>
        </div>
        <div class="col-6">
          <p class="description">
            <%= project.type %>
          </p>
        </div>
      </div>
      <div class="row justify-content-center info">
        <div class="col-3">
          <span class="date"> My role </span>
        </div>
        <div class="col-6">
          <p class="description">
            <%= project.role %>
          </p>
        </div>
      </div>
      <div class="row justify-content-center info">
        <div class="col-3">
          <span class="date"> Submission Date </span>
        </div>
        <div class="col-6">
          <p class="description">
            <%= project.subDate %>
          </p>
        </div>
      </div>
      <div class="row justify-content-center info">
        <div class="col-3">
          <span class="date"> Team </span>
        </div>
        <div class="col-6">
          <p class="description">
            <%= project.team %>
          </p>
        </div>
      </div>
    </div>

      <div class="row">
        <p id="statement"><%= statement %></p>
      </div>
      <div class="row justify-content-center" >
        <h1 id="title2">Design process</h1>
      </div>
      <div class="row">
      <% steps.forEach(function(step){ %>
        <div class="col-4 box">
          <h4 class="step"><%= step.title %></h4>
          <p class="details"><%= step.details %></p>
        </div>
      <% }) %>

      </div>
      <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="<%= carousel[0]%>" alt="First slide">
            </div>


            <% carousel.forEach(function(image){ %>
              <div class="carousel-item">
                <img class="d-block w-100" src="<%= image %>" alt="First slide"  >
              </div>
            <% }) %>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="row justify-content-center jumbotron">
        <h2>Want to know more about this project ?</h2><br/>
        <a id="download" href="<%= project.pdf%>" download>Download the PDF here</a>


      </div>

</div>


</body>
<% include partials/footer %>
<style media="screen">
  .container{
    padding-top: 40px;
    background-color: white;
  }
  .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #download{
    font-size: 0.7em;
    color:white;
  }
  #title{
      font-family: raleway, sans-serif;
      font: normal normal normal 40px/1.35em raleway,sans-serif;
      font-style: normal;
      margin-bottom: 41px;
  }
  #date{
    font: normal normal normal 18px/1.75em raleway,sans-serif;
    margin-bottom: 31px;
  }
  #desc{
    font: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,sans-serif;
  }
  .info{
    padding-top:30px;
  }
  #projectInfo{
    background-color: #a9bcc0 !important;
    color:white;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: -15px;
    margin-left: -15px;

  }
  #statement{
    background-color:rgb(225, 239, 242);
    font: normal normal normal 22px/1.41em raleway,sans-serif;
    font-weight: bold;
    padding: 80px 40px 80px 40px
  }
  #title2{
    text-transform: uppercase;
    font: normal normal normal 40px/1.35em raleway,sans-serif;
    margin-top:120px;
    margin-bottom: 120px;
  }
  .step{
    text-transform: uppercase;
    font: normal normal normal 22px/1.41em raleway,sans-serif;
    margin-bottom: 35px;
  }
  .details{
    font: normal normal normal 15px/1.875em raleway,sans-serif;
  }
  .jumbotron{
    display: block;
    text-align: center;
    color:white;
    font-family: futura-lt-w01-light,sans-serif;
    background-color: #c6c6c6;
    margin-bottom: 0;
  }
  .box{
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
</html>
