<!DOCTYPE html>
<html lang="en">
<body>
<% include partials/navigation %>
<div class="container">
  <div class="row">
    <div id="instafeed">
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 2%">
    <button id="btn-instafeed-load" class="btn btn-primary">Load more</button>
  </div>

</div>
</body>
<% include partials/footer %>

<style>
  /*$lg: 580px;*/


  #btn-instafeed-load {
    font: normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,sans-serif;
    color: #1c1c1c;
    border-color: #1c1c1c;
    background-color: #FFFFFF;
    border-width: 2px;
    border-radius: style.showMoreCornerRadiuspx;
  }
  #instafeed {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #instafeed>a {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    background: white;
  }

  a>@media only screen {
    #instafeed {
      width: 25%;
    }
  }

  #instafeed>a>img {
    display: block;
    width: 100%;
    padding: 2%;
  }

</style>

</html>
<script type="text/javascript" src="/instafeed.min.js">
</script>
<script>
  var limitWidth;
  var width = $(window).width();

  if (width <= 768) {
    limitWidth = 4;
  } else {
    limitWidth = 12;
  }
  var userFeed = new Instafeed({
    get: 'user',
    //userId: '2607976428',
    //ulysse.hellouin
    //userId: '5417841258',

    //_instaiwan_
    userId: '8518412491',

    //clientId: 'd659038a272f4c98b07f344daeddbf74',
    //ulysse.hellouin
    //clientId: '06daf3c2b8554b5ba9de025248260193',

    //_instaiwan_
    clientId: 'bd8ad824fd2e4b0baf1fe93ade537f68',


    //accessToken: '2607976428.d659038.ddb25b8432f443adb2f063e359880843',
    //ulysse.hellouin
    //accessToken: '5417841258.06daf3c.2244dd51f608400da8ce7a249059e3b8',
    //https://www.instagram.com/oauth/authorize/?client_id=06daf3c2b8554b5ba9de025248260193&redirect_uri=http://localhost&response_type=token

    //_instaiwan_
    //https://www.instagram.com/oauth/authorize/?client_id=bd8ad824fd2e4b0baf1fe93ade537f68-ID&redirect_uri=http://localhost&response_type=token
    accessToken: '8518412491.bd8ad82.dabd4773bd5b4462b86ddb66cb763358',
    resolution: 'standard_resolution',
    template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
    sortBy: 'most-recent',
    limit: 9,
    links: false,
    after: function() {
      // disable button if no more results to load
      if (!this.hasNext()) {
        btnInstafeedLoad.setAttribute('hidden', '');
      }
    },
  });
  userFeed.run();

  var btnInstafeedLoad = document.getElementById("btn-instafeed-load");
  btnInstafeedLoad.addEventListener("click", function() {
    userFeed.next()
  });

</script>
